<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fn="http://www.w3.org/2005/xpath-functions">
  <Fragment>
    <Feature Id="Client"
             Level="1"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR_CLIENT"
             Title="!(loc.F_Client)"
             Description="!(loc.F_Client_Desc)">
      <ComponentRef Id="CLIENT.DATA.FOLDER" />
      <ComponentRef Id="InstallDirClientRegistry" />
      <ComponentRef Id="Defaults" />
      <ComponentRef Id="MP2Client" />
      <ComponentRef Id="MP2Client.config" />
      <ComponentRef Id="MP2Client.Splashscreen" />
      <ComponentRef Id="MP2Client.Desktop.Shortcut" />
      <ComponentRef Id="MP2Client.StartMenu.Shortcut" />
    </Feature>
  </Fragment>
</Wix>